:root {
    --color-banana: #FFF587;
    --color-watermelon: #FF8C64;
    --color-tomato: #FF665A;
    --color-eggplant: #7D6B7D;
    --color-grey: #A3A1A8;
}

*, body, html {
    font-family: 'Jetbrains Mono', sans-serif;
    text-align: center;
    font-weight: 400;
}

body {

}

.form-container {
    width: 80%;
}

.button:hover {

}

form {
    opacity: 1;
    transition: opacity 0.4s ease-in-out, display 0.4s ease-in-out;
}
