:root {
    --color-banana: #FFF587;
    --color-watermelon: #FF8C64;
    --color-tomato: #FF665A;
    --color-eggplant: #7D6B7D;
    --color-grey: #A3A1A8;

    --background-color: white;
    --border-color: var(--color-grey);
    --border-button-width: .4rem;
    --border-input-width: calc(var(--border-button-width) / 2) solid var(--color-grey);
    --border-radius: 1.5rem;
}

*, body, html {
    font-family: 'Jetbrains Mono', sans-serif;
    text-align: center;
    font-weight: 400;
    box-sizing: border-box;
    outline: none;
}

body {
    transition: background-image 0.3s ease-in-out;
    background: var(--color-banana);
    background-image: url(../assets/background.jpeg);
    background-size: 300px;
    background-repeat: repeat;
}

/* Container elements */

.wrapper {
    width: 45rem;
    background-color: white;
    margin: auto;
    padding: 1rem 0;
    min-height: 100vh;
}

.button-container {
    /* 3x 10rem buttons + 2x 1rem gaps */
    width: 32rem;
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    gap: 1rem;
    margin: auto;
}

.form-container {
    margin: 2rem auto;
}

.component-container {
    margin: 2rem auto;
}

.progress-container {
    margin: 2rem auto;
}

.button:focus, input[type="submit"]:focus {
    background-color: var(--background-color);
    color: var(--color-watermelon);
}

input[type="text"]:focus, input[type="number"]:focus, select:focus {
    border-color: var(--color-watermelon);
}

/* Individual elements */
.button, input[type="submit"] {
    font-weight: 700;
    height: 5rem;
    color: white;
    background-color: var(--color-watermelon);
    border-radius: var(--border-radius);
    transition: background-color 0.05s ease-in-out;
    border: var(--border-button-width) solid var(--color-watermelon);
    font-size: 100%;
}

input[type="submit"] {
    width: 7rem;
    height: 3rem;
    margin: 1rem;
}

input[type="text"], input[type="number"], select {
    margin: .2rem 0;
    border-radius: var(--border-radius);
    border: var(--border-input-width);
}

label {
    font-weight: 100;
}

.button:hover, input[type="submit"]:hover {
    background-color: var(--background-color);
    color: var(--color-watermelon);
    border: var(--border-button-width) solid var(--color-watermelon);
    cursor: pointer;
}

select, option {
    min-width: 6rem;
}

h2::after {
    content: '';
    width: 80%;
    height: .25rem;
    background-color: var(--color-grey);
    display: block;
    margin: 0.5rem auto;
}

.result-block {
    display: block;
    border: var(--border-button-width) solid var(--color-eggplant);
    width: 20rem;
    padding: 2em;
    margin: 1em auto;
    overflow: auto;
}

/**
   Progress bar styling
 */
progress.task-time-remaining {
    margin: 1rem auto;
}

progress.task-employee-time-ratio {
    margin: .25rem auto;
}

/* Background */
progress::-webkit-progress-bar {
    background: var(--color-eggplant);
    width: 100%;
}

progress {
    background: var(--color-eggplant);
}

/* Value */
progress.task-time-remaining::-webkit-progress-value {
    background-color: var(--color-banana) !important;
}

progress.task-time-remaining::-moz-progress-bar {
    background-color: var(--color-banana) !important;
}

progress.task-employee-time-ratio::-webkit-progress-value {
    background-color: var(--color-tomato) !important;
}

progress.task-employee-time-ratio::-moz-progress-bar {
    background-color: var(--color-tomato) !important;
}

progress.task-time-remaining {
    color: var(--color-banana);
}

progress.task-employee-time-ratio {
    color: var(--color-tomato);
}

/**
    Media queries
 */
/* Large devices (desktops, up to 1200px) */
@media (max-width: 1200px) {

}

/* Medium devices (tablets, up to 992px) */
@media (max-width: 992px) {

}

/* Small devices (landscape phones, up to 768px) */
@media (max-width: 768px) {
    .button-container {
        grid-template-columns: repeat(2, 10rem);
        /* 2x 10rem buttons + 1x 1rem gap */
        width: 21rem;
    }

    .wrapper {
        width: 100vw;
    }
}

/* Extra small devices (phones, up to 576px) */
@media (max-width: 576px) {

}
